
</div>
  <div class="footer">
    <p>Made with Manik Aggarwal</p>
    <a href="https://github.com/Manik-Aggarwal" target="_blank"><i class="socio fa fa-github" aria-hidden="true"></i></a>
    <a href="https://t.me/ManikAggarwal" target="_blank"><i class="socio fa fa-telegram" aria-hidden="true"></i></a>
    <a href="#"><i class="socio fa fa-envelope" aria-hidden="true"></i></a>
    <a href="https://www.linkedin.com/in/manik-aggarwal-640110188" target="_blank"><i class="socio fa fa-linkedin" aria-hidden="true"></i></a>
    <a href="https://www.instagram.com/manikaggarwal_2407/" target="_blank"><i class="socio fa fa-instagram" aria-hidden="true"></i></a>
  </div>
</div>
</body>
</html>
